@{
    ViewBag.Title = "About";
}
<style>
    .center{
        text-align:center;
    }
</style>
<h1 class="center">About Us</h1>
<p class="center">我们是神奇的颜张超组合！！！</p>
<p class="center">Come On! 加入光荣的进化吧！<p>
